# --- Build & General ---
bin/
build/
.gradle/
out/

# --- IDEs ---
# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
.factorypath

# --- Minecraft/Fabric Specific ---
run/
.fabric/
/.gradle-architecture-test-report

# --- Logs & Crashes ---
*.log
logs/
hs_err_pid*
replay_pid*

# --- Local Secrets/Config ---
local.properties